@use 'styles/tokens';

:root {
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'IBM Plex Sans', sans-serif;
}

body {
  background: var(--base);
  color: var(--text);
  font-family: var(--font-sans);
  margin: 0;
}

